<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Hans-Nuget" value="https://pkgs.dev.azure.com/taylorhans7/_packaging/Hans-Nuget/nuget/v3/index.json" />
    </packageSources>    
</configuration>
