<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hans.DamageSystem" version="1.0.20191123.4-CI-20191123-033810" targetFramework="net471" />
  <package id="Hans.DamageSystem.Local" version="1.0.20191123.1-CI-20191123-023353" targetFramework="net471" />
  <package id="Hans.DependencyInjection" version="1.0.20190308.1-CI-20190308-024302" targetFramework="net471" />
  <package id="Hans.DialogueEngine" version="1.0.20191123.4-CI-20191123-033810" targetFramework="net471" />
  <package id="Hans.Extensions" version="1.0.20190209.1-CI-20190209-034314" targetFramework="net471" />
  <package id="Hans.Inventory.Core" version="1.0.20190209.1-CI-20190209-034314" targetFramework="net471" />
  <package id="Hans.Logging" version="1.0.20190308.1-CI-20190308-024302" targetFramework="net471" />
</packages>