<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hans.DamageSystem" version="1.0.20200330.14-CI-20200330-221511" targetFramework="net471" />
  <package id="Hans.DamageSystem.Local" version="1.0.20200330.14-CI-20200330-221511" targetFramework="net471" />
  <package id="Hans.DependencyInjection.Standard" version="1.0.0-CI-20200331-224613" targetFramework="net471" />
  <package id="Hans.DialogueEngine.Standard" version="1.0.0-CI-20200331-224613" targetFramework="net471" />
  <package id="Hans.Extensions.Standard" version="1.0.0-CI-20200331-224613" targetFramework="net471" />
  <package id="Hans.Inventory.Core" version="1.0.20200330.14-CI-20200330-221511" targetFramework="net471" />
  <package id="Hans.JSON.Standard" version="1.0.0-CI-20200331-224613" targetFramework="net471" />
  <package id="Hans.Logging.Standard" version="1.0.0-CI-20200331-224613" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net471" />
</packages>