<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hans.DependencyInjection" version="1.0.20190227.1-CI-20190227-023218" targetFramework="net471" />
  <package id="Hans.Extensions" version="1.0.20190209.1-CI-20190209-034314" targetFramework="net471" />
  <package id="Hans.Inventory.Core" version="1.0.20190209.1-CI-20190209-034314" targetFramework="net471" />
  <package id="Hans.Logging" version="1.0.20190227.1-CI-20190227-023218" targetFramework="net471" />
</packages>